body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 0 0px;
}

header {
    background-color: black;
    background-image: url(https://templates.utah.edu/_main-v2/_images/header/background/blue.jpg);
    color: rgba(107, 164, 234, 0.80);
    padding: 25px;
}

section {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.container {
    display: grid;
    margin: 0 0 0 0px;
    grid-template-columns:
    minmax(100px, auto)
    minmax(100px, auto)
    minmax(150px, auto);


    grid-template-rows:
    minmax(100px, auto)
    minmax(60px, auto)
    minmax(400px, auto)
    minmax(250px, auto)
    minmax(150px, auto);
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    grid-template-areas:
    'article article aside-1'
    'navigation navigation aside-1'
    'main-1 main-2 aside-1'
    'aside-2 aside-2 aside-1'
    'footer footer aside-1';
}




.semantic-grid-section {
  padding: 20px;
  text-align: center;
}

.article {
    grid-area: article;
    background-color: white;
}

.navigation {
    grid-area: navigation;
    background-color: lightgray;
}

.main-1 {
    grid-area: main-1;
   padding: 5 20 5 20px;
   background-color: lightgray;
}

.main-2 {
    grid-area: main-2;
   padding: 5 20 5 20px;
   background-color: darkgray;
}

.aside-1 {
    grid-area: aside-1;
    padding: 0 0 0 0px;
    background-color: darkblue;
}

#navbar {
    width: 100%;
}

#fixed-item {
    right: 0%;
    bottom: 0%;
   padding: 20 20 20 20px;
   position: fixed;
   width: inherit;
   color: white;
   background-color: darkblue;
}

#fixed-item a {
    color: white;
}

.aside-2 {
    grid-area: aside-2;
    padding: 5 0 0 20px;
    background-color: white;
}
.footer {
    grid-area: footer;
    padding: 5 20 5 20px;
    background-color: lightgray;
}
