body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 50 0px;
}

header {
    background-color: black;
    color: rgba(107, 164, 234, 0.80);
    padding: 20px;
}

section {
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.container {
    display: grid;
    margin: 0 0 0 0px;
    grid-template-columns: 3fr 0.5fr;
    grid-template-rows:
    minmax(100px, auto)
    minmax(60px, auto)
    minmax(400px, auto)
    repeat(2, minmax(150px, auto));
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    grid-template-areas:
    'header header'
    'navigation aside-1'
    'main aside-1'
    'aside-2 aside-1'
    'footer aside-1';
}





.semantic-grid-section {
  padding: 20px;
  text-align: center;
}

.header {
    grid-area: header;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
   padding: 5 20 0 20px;
   background-color: darkblue;
}

.aside-1 {
    grid-area: aside-1;
    padding: 0 0 0 0;
    background-color: gray;
}

#navbar {
    width: 100%;
}

#fixed-item {
    margin: 0 0 0 0px;
   padding: 0 20 0 20px;
   position: fixed;
   width: inherit;
   color: white;
   background-color: darkblue;
}

.aside-2 {
    grid-area: aside-2;
    padding: 5 0 0 20px;
    background-color: blue;
}
.footer {
    grid-area: footer;
    padding: 5 0 0 20px;
    background-color: red;
}
.five {
    padding: 5 0 0 20px;
    background-color: green;
}
.six {
    padding: 5 0 0 20px;
    background-color: yellow;
}
